<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  
  <title>Git-Collab TOTP</title>
  <link rel="stylesheet" href="css/bulma-0.7.1.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
    <!--@media screen and (min-width: 1068px) {
      .container {
        max-width: 600px;
        width: 600px;
      }
    }-->
  </style>
  <style type="text/css">
  html {
    overflow-y: hidden;
  }
</style>
</head>
<body>

  <section id="app" class="section">

    <div class="container">

      <h1 class="title">TOTP Token Generator</h1>

      <div class="field">
        <label class="label is-uppercase">Your Secret Key</label>
        <div class="control">
          <input class="input" type="text" v-model="secret_key" placeholder="The secret key (in base-32 format)">
        </div>
      </div>

      <!--<div class="field">
        <label class="label is-uppercase">Number of Digits</label>
        <div class="control">
          <input class="input" type="text" v-model="digits" placeholder="Usually 6">
        </div>
      </div>

      <div class="field">
        <label class="label is-uppercase">Token Period (in seconds)</label>
        <div class="control">
          <input class="input" type="text" v-model="period" placeholder="Usually 30">
        </div>
      </div>-->

      <div class="content">
        <span class="has-text-grey is-size-7">{{ updatingIn }} s  </span>
        <!--<progress class="progress is-info is-small" v-bind:value="period - updatingIn" :max="period"></progress>-->
      </div>

      <div class="box">
        <p class="title is-size-1 has-text-centered">{{ token }}</p>
      </div>

    </div>

  </section>

  <script src="js/vue-2.4.0.min.js"></script>
  <script src="js/otpauth-3.1.3.min.js"></script>
  <script src="js/app.js"></script>

</body>
</html>